<div class="container">
  <div class="flip-container">
    <div class="row my-1 border border-secondary rounded main-row" >
      <div class="title-box">
        <h5 class="title-text">{{movie.Title | onlyEnglish | titlecase}}</h5>
        <h6 class="title-year">{{movie.Year }}</h6>
        <h6 class="title-runtime">{{movie.Runtime | MovieTime}}</h6>
      </div>
      <!-- <div class="btn-box ">
        <app-btn-edit class="action-btn" [movieObject]="movie"></app-btn-edit>
        <app-btn-delete class="action-btn" [movieId]="movie.Id"></app-btn-delete>
      </div> -->
    </div>



    <div class="details-box " #detailsBox>
      <div class="details-content row ">
        <div class="details-item">
          <b>Genre:</b> {{movie.Genre}}
        </div>
        <!-- <div class="details-item">
          <b>Year:</b> {{movie.Year }}
        </div> -->
        <!-- <div class="details-item">
          <b>Length:</b> {{movie.Runtime | MovieTime}}
        </div> -->
        <div class="details-item">
          <b>Director:</b> {{movie.Director}}
        </div>
        <div class="btn-box ">
          <app-btn-edit class="action-btn" [movieObject]="movie"></app-btn-edit>
          <app-btn-delete class="action-btn" [movieId]="movie.Id"></app-btn-delete>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- @import url(https://fonts.googleapis.com/css?family=Roboto:100); -->
